@import url('https://fonts.googleapis.com/css?family=Underdog&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Underdog', cursive;
}

/* ---------------------------------------------------------------------------------------------- */
/* --- abaut characters --- */

.abaut_characters{
	height: 670px;
	background-image: url(images/how-to-train-your-dragon-2.jpg);
	display: flex;	
}
.characters_menu{
	width: 200px;	
	position:relative;
}
.characters_conteiner{	
	flex-grow: 1;
	position: relative;
}
.fab {
	cursor: pointer;
    position: absolute;
    bottom: 30px;
	left: 30px;
}
.tooltip{
	color: #29B6F6;
	font-size: 16pt;
	padding: 20px 45px;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 30px;
	bottom: 130px;
	animation: tooltip_jump 1s linear infinite alternate;	
}
.tooltip:after{
	content: "";
	display: block;
	width: 40px;
	height: 25px;
	transform: skewY(-60deg) skewX(15deg) rotate(100deg);
	background-color: white;
	position: absolute;
	left: 10px;
	bottom: -7px;	
}
.fab:hover .tooltip{
	display: none;
}

@keyframes tooltip_jump{
	0%{transform: translateY(-30px);}	
	100%{transform: translateY(20px);}
}
.fab-action-button{
	width: 70px;
	height: 70px;
	background-color: #29B6F6;
    border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 16pt;
	padding-top: 20px;
	position: relative;
}
.fab-action-button:before{
	content: "";
	display: box;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 3px #00A9F2, 0px 0px 8px 2px #A8D8ED;
	position: absolute;
	top: -3px;
	left: -3px;
	transform: scale(0);
	opacity: 0;
	transition: all .5s linear;
}
.fab:hover .fab-action-button{
	color: white;
}
.fab:hover .fab-action-button:before{
	transform: scale(1);
	opacity: 1;
}
.fab-buttons__item{
	width: 74px;
	height: 74px;
	margin-bottom: 10px;
	background-color: #29B6F6;
    border-radius: 50%;
	border: 2px solid black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	list-style: none;
	position: relative;	
}
.fab-buttons{
	display: none;
	margin-bottom: 50px;
}
.fab:hover .fab-buttons{
	display: block;
}
.fab:hover .fab-buttons__item{
	animation: label_up 0.5s linear;	
}
@keyframes label_up{
	0%{transform: scaleY(0.5) scaleX(0) translateY(40px);}
	50%{transform: scaleY(1) scaleX(0.5) translateY(40px);}
	100%{transform: scaleY(1) scaleX(1) translateY(0px);}
}
.fab-buttons__item:before{
	content: "";
	display: block;
	width: 100px;
	height: 30px;
	padding: 0 10px;
	background-color: black;
	color: white;
	position: absolute;
	right: -130px;
	bottom: 50%;
	margin-bottom: -15px;
	opacity:0;
	transform-origin: left center 0;
	transform: scale(0);
	transition: all .5s linear;	
}
.fab-buttons__item:nth-of-type(1):before{
	content: "Іккінг";
}	
.fab-buttons__item:nth-of-type(2):before{
	content: "Астрід";
}
.fab-buttons__item:nth-of-type(3):before{
	content: "Забіяка";
}
.fab-buttons__item:nth-of-type(4):before{
	content: "Вредіна";
}
.fab-buttons__item:hover{
	box-shadow: 0px 0px 6px 2px black;
}
.fab-buttons__item:hover:before{
	opacity:1;
	transform: scale(1);              
}
.character{
	width: 800px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -400px;
	background-color: #FFF1E8;
	z-index:0;
	box-shadow: 3px 3px 7px black;	
}
.character img{
	padding: 30px 15px;
	margin: 30px;
	border-bottom: 2px solid #29B6F6;
	border-top: 2px solid #29B6F6;
	float: left;	
}
.character h2{
	margin: 10px;
}
.character p{
	margin: 10px;
}
#Hiccup{
	transform: rotate(-3deg);
}
#Hiccup:target{
	animation: character_up 0.5s linear;
	transform: rotate(0deg);
	z-index:1;
}
#Astrid{
	transform: rotate(5deg);
}
#Astrid:target{
	animation: character_up 0.5s linear;
	transform: rotate(0deg);
	z-index:1;
}
#Gruffnut{
	transform: rotate(-11deg);
}
#Gruffnut:target{
	animation: character_up 0.5s linear;
	transform: rotate(0deg);
	z-index:1;
}
#Spitelout{
	transform: rotate(8deg);
}
#Spitelout:target{
	animation: character_up 0.5s linear;	
	transform: rotate(0deg);
	z-index:1;
}
@keyframes character_up {
	0%{left: 50%;}
	50%{left: 45%;}
	100%{left: 50%;}	
}

/* ---------------------------------------------------------------------------------------------- */
/* --- about_dragons --- */
.about_dragons {
	min-height: 670px;
	background-image: url(images/19200626.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 30px;

}
.accordion {
	border: 2px solid rgb(188, 235, 243);
	width: 80%;
	margin: 0px auto;
	background: linear-gradient(357deg,rgba(186, 235, 255, 1) 0%, rgba(163, 240, 255, 1) 9%, rgba(71, 105, 255, 1) 100%);

}

.accordion ul{
	list-style: none;
}
.accordion li{
	position: relative;
}
.accordion li div:nth-of-type(1){
	height: 80px;
	padding: 10px 25px;
	cursor: pointer;
	background-color: #0174a5;
	border-top:1px solid #3b6c81 ;
	border-bottom: 1px solid #1b4658;
	display: flex;
	align-items: center;

}

.accordion h2{
	font-size: 30px;
	color: white;
	padding-left: 15px;
}

.accordion img{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 2px solid #ffdfcc;
}
.accordion .msg {
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	transform: translate(0, 50%);
	transition: all 0.8s ease-in-out;
}
.accordion li input:checked ~ div:nth-of-type(2){
	max-height: 800px;
	opacity: 1;
	transform: translate(0,0);
}

.accordion li input{
	position: absolute;
	cursor: pointer;
	height: 80px;
	width: 100%;
	opacity: 0;
}

.msg p {
	font-size: 19px;
	padding: 10px 20px;
	color: #3b5763;
}

.msg img{
	float: right;
}

.accordion span {
	position: absolute;
	top: 15px;
	right: 30px;
	display: block;
	width: 9px;
	height: 9px;
}

.accordion span::before,
.accordion span::after {
	content: '';
	position: absolute;
	display: block;
	width: 3px;
	min-height: 9px;
	background-color: rgb(196, 196, 196);
}

.accordion span:before{
	transform: rotate(45deg) translate(3px, 0);
}

.accordion span::after{
	transform: rotate(-45deg) translate(3px,0);
}

.accordion li input:checked ~ span::before{
	transform: rotate(45deg) translate(-3px, 0);

}

.accordion li input:checked ~ span::after{
	transform: rotate(-45deg) translate(3px, 0);
}
/* ... */


